.d-none-mobile { display: block; }
.d-block-mobile { display: none; }

@media (max-width: 768px) {
  .d-none-mobile { display: none !important; }
  .d-block-mobile { display: block !important; }
}

.text-primary { color: #096dd9; }
